.services {
  background-color: #ffffff;
  width: 100%;
  min-width: 1728px;
  min-height: 1657px;
  position: relative;
}

.services {
  max-width: 1728px;
  max-height: 1657px;
}

.services .rectangle {
  position: absolute;
  top: calc(50.00% - 828px);
  left: calc(50.00% - 864px);
  width: 1728px;
  height: 1657px;
  background-color: #000000;
}

.services .TITLE-ITO {
  position: absolute;
  top: 21px;
  left: 212px;
  width: 1160px;
  height: 173px;
}

.services .image-removebg {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 374px;
  height: 193px;
  aspect-ratio: 2.05;
  object-fit: cover;
}

.services .text-wrapper {
  position: absolute;
  top: 96px;
  left: 489px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.services .div {
  position: absolute;
  top: 58px;
  left: calc(50.00% - 264px);
  width: 840px;
  text-shadow: 7px 7px 10px #cae5bd40;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.services .text-wrapper-2 {
  position: absolute;
  top: 194px;
  left: 80px;
  width: 377px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.services .brief-description-of {
  position: absolute;
  top: 279px;
  left: 134px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.services .outline-of-special {
  position: absolute;
  top: 484px;
  left: calc(50.00% - 246px);
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.services .text-wrapper-3 {
  position: absolute;
  top: 979px;
  left: calc(50.00% - 246px);
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.services .p {
  position: absolute;
  top: 328px;
  left: 37px;
  width: 1646px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.services .carousel {
  position: absolute  ;
  top: 530px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: 5px solid #ffffff;
  display: flex;
  overflow-x: auto;
  margin: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.groups {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 80s infinite linear;  
  padding-right: 1em;
}

.card {
  flex: 0 0 20em;
  height: 7em;
  padding: 10em;
  background: cornflowerblue;
  border-radius: .2em;
  text-align: center;
  align-content: center
}

@keyframes spin{
  from  {translate:0;}
  to {translate: -100%;}
}

.carousel1 {
  position: absolute;
  top: 1030px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: 5px solid #ffffff;
  display: flex;
  overflow-x: auto;
  margin: 0;
}

.carousel1::-webkit-scrollbar {
  display: none;
}

.groups1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 50s infinite linear;
  padding-right: 1em;
}

.cards {
  flex: 0 0 20em;
  height: 7em;
  padding: 10em;
  background: cornflowerblue;
  border-radius: .2em;
  text-align: center;
  align-content: center
}

.box {
  position: relative;
  width: 100%;
  height: 62px;
}

.box .footer {
  position: absolute;
  bottom: 0;
  left: 10;
  width: 100%;
  height: 62px;
  background-color: transparent;
}

.box .navbar {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0px 40px;
  position: absolute;
  top: calc(50.00% - 12px);
  left: calc(50.00% - 836px);
}

.box .main {
  position: relative;
  width: 51px;
  height: 24px;
}

.box .CALL-TO-ACTION {
  position: absolute;
  top: 1550px;
  left: calc(50.00% - 106px);
  width: 195px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a8ff35;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0px 0px 25px #a8ff3580;
}

.box .frame {
  top: 1550px;
  display: flex;
  height: 62px;
  margin-left: 150px;
  width: 180px;
  font-family: "Montserrat-Bold", Helvetica;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.box .text-wrapper-2 {
  position: relative;
  width: 140px;
  height: 20px;
  text-shadow: 0px 0px 25px #a8ff3540;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box .element-gerbag {
  position: absolute;
  top: 1550px;
  left: 1214px;
  width: 456px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}



.image .pexels-photo-by {
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1657px;
  object-fit: cover;
}

.services .rectangle-3 {
  position: absolute;
  top: 1540px;
  left: 0;
  width: 1728px;
  height: 93px;
  background-color: #ffffff;
  opacity: 0.5;
}

/* Carousel card images: use actual <img> elements inside each .card */
.services .carousel .card { 
  flex: 0 0 auto;
  width: 600px;
  height: 420px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 6px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .carousel .card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .carousel1 .cards { 
  flex: 0 0 auto;
  width: 600px;
  height: 420px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 6px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .carousel1 .cards img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .text-wrapper-4 {
  position: relative;
  width: 140px;
  height: 20px;
  text-shadow: 0px 0px 25px #a8ff3540;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  gap: 10px;
}